/* footer */

.footer {
	min-height: 600px;
	background-color: var(--hero-text-color);
	margin: auto;
	color: var(--four-text-color);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: 0;

	@include tablet{
		min-height: 465px;
	}
	@include desktop{
		justify-content: center;
		min-height: 255px;
		align-items: normal;
		flex-direction: row;
	}

}

.web-connect{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 0;

	@include tablet{
		
	align-items: normal;	
		flex-direction: row;
	}	
	@include desktop{
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.footer-left-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 0px;
	width: 230px;
	height: 140px;

	// @media screen and (min-width: 1200px){
	// 	padding-left: 115px;
	// }

	@media screen and (min-width: 1200px){
		align-items: flex-start
	}

}

.footer-logo{
	display: flex;
}

.footer-alladress{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 230px;
	height: 80px;

	

	@media screen and (min-width: 1200px){
		align-items: flex-start;
	}

}

address {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.footer-contacts-item {
	display: flex;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--third-text-color);

	&:hover,
	&:focus {
		color: var(--second-text-color);
	}
}

.footer-contacts-li{
	display: flex;
	justify-content: center;
	margin-top: 10px;

	@include desktop{
		justify-content: flex-start;
	}
}


.footer-logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--four-text-color);
	display: flex;
}

.connect{
	display: flex;
	min-width: 205px;
	height: 80px;
	margin-top: 60px;
	padding-left: 0px;
	flex-direction: column;

	@include tablet{
		margin-top: 5px;
		padding-left: 165px;
	}

	@media screen and (min-width: 1200px){
		margin-top: 15px;
		padding-left: 70px;
	}
}

.footer-main-text{
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.footer-item-box{
	display: flex;
	width: 205px;
	height: 45px;
	margin-top: 20px;
}

.footer-social{
	display: flex;
}

.footer-svg{
	height: 20px;
	width: 20px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&__button{
		color:#ffffff;
		fill:#ffffff;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__button:focus,
	&__button:hover{
		fill: var(--second-text-color);
		color:var(--second-text-color);
	}
}

.footer-social-items{
	display: flex;

	&:not(:first-child){
		margin-left: 10px;
	} 
}

.footer-href{
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--four-text-color);
	width: 45px;
	height: 45px;
	border: 0px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover, 
	&:focus {
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
		fill: var(--four-text-color);
		background: var(--second-text-color);
		outline: 0;
	}
}

.footer-subscribe{
	height: 155px;
	display: flex;
	margin-top: 60px;
	margin-bottom: 0px;
	background-color: #2F303A;
	flex-direction: column;
    align-items: center;

	@media screen and (min-width: 1200px){
		height: 85px;
		margin-top: 0px;
		margin-left: 95px;
		flex-direction: row;
		align-items: flex-end;
		margin-top: 70px;
		margin-bottom: 95px;
	}
}

.footer-subscribe label{
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.footer-subscribe input{
	margin-top: 20px;
	padding-left: 15px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	width: 435px;
	height: 50px;
	background-color: #2F303A;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	box-sizing: border-box;

	@include desktop{
		width: 358px;
	}
}

.email-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-button{

	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.06em;
	color: var(--four-text-color);
	background: var(--second-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 0;
	fill: var(--four-text-color);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (min-width: 1200px){

		margin-bottom: 1px;
		margin-left: 15px;
	}


	&__svg{
		width: 24px;
		height: 24px;
	}

	&:hover,
	&:focus{
	outline: 1px solid var(--first-text-color);
	background-color:#F5F4FA;
	color: var(--second-text-color);
	fill:  var(--second-text-color);
	}
}
