.main-about {
	display: block;
	


	&-ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
		margin-top: 60px;

		@media screen and (min-width: 768px){
		width: 740px;
		height: 480px;
		}
		@media screen and (min-width: 1600px){
			width: 1170px;
			height: 250px;
		}
	}

	&-li{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 225px;

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1600px){
			justify-content: normal;
			width: 270px;	
			height: 250px;
		}
	}

	&-li:not(:first-child){
		margin-top: 30px;

		@media screen and (min-width: 768px){
			margin-top: 0;
		}
		@media screen and (min-width: 1600px){
			margin-top: 0;
		}
	}

	&-svg{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 450px;
		height: 120px;
		background-color: var(--four-text-color);
		border-radius: 4px;

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1600px){
			width: 270px;	
		}
	}

	&-text{
		display: flex;
		justify-content: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&-h2{
		display: flex;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		padding-top: 30px;

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1600px){
			width: 270px;	
		}
	}

	&-p2{
		display: flex;
		width: 450px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		padding: 10px 15px 0px 15px;

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1600px){
			width: 270px;	
		}
	}
}



// .main-about {
// 	display: block;

// 	&-ul {
// 		margin-top: 30px;
// 		margin-bottom: 95px;
// 		width: 1170px;
// 		min-height: 100px;
// 		align-items: flex-start;
// 		display: flex;
// 		flex-direction: row;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}

// 	&-li{
// 		width: 270px;
// 	}

// 	&-li:not(:first-child){
// 		margin-left: 30px;
// 	}

// 	&-svg{
// 		margin-top: 95px;
// 		width: 1170px;
// 		display: flex;
// 		flex-direction: row;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}

// 	&-svg-item:not(:first-child){
// 		margin-left: 30px;
// 	}

// 	&-svg-item{
// 		width: 270px;
// 		height: 120px;
// 		background-color: var(--four-text-color);
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}

// 	&-text{
// 		font-weight: 700;
// 		min-width: auto;
// 		font-size: 14px;
// 		line-height: 16px;
// 		letter-spacing: 0.03em;
// 		text-transform: uppercase;
// 	}
	
// 	&-text-p2 {
// 		margin-top: 10px;
// 		font-weight: 400;
// 		min-width: auto;
// 		font-size: 14px;
// 		line-height: 24px;
// 		letter-spacing: 0.03em;
// 	}
// }