.main-about {
	display: block;
	min-width: 100vw;

	&-ul{
		display: flex;
		flex-basis: 50%;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
		margin-top: 60px;
		width: 100vw;

		@include mobile{
			min-width: 480px;
		}

		@media screen and (min-width: 768px){
		width: 740px;
		height: 480px;
		gap: 30px
		}
		@media screen and (min-width: 1200px){
			margin-top: 95px;
			width: 1170px;
			height: 250px;
		}
	}

	&-li{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 225px;
		transition-duration: 250ms;
		width: 100vw;

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1200px){
			justify-content: normal;
			width: 270px;	
			height: 250px;
		}
	}

	&-li:not(:first-child){
		margin-top: 30px;

		@media screen and (min-width: 768px){
			margin-top: 0;
		}
		@media screen and (min-width: 1200px){
			margin-top: 0;
		}
	}

	&-svg{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 120px;
		background-color: var(--four-text-color);
		border-radius: 4px;
		
		@include mobile{
			width: 450px;
		}
		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1200px){
			width: 270px;	
		}
	}

	&-text{
		display: flex;
		justify-content: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		text-align: center;
	}

	&-h2{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		padding-top: 30px;
		width: 100vw;

		@include mobile{
			width: 355px;
		}

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1200px){
			width: 270px;	
		}
	}

	&-p2{
		display: flex;
		width: 100vw;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		// padding: 10px 15px 0px 15px;
		color: var(--third-text-color);

		@include mobile{
			// padding: 10px 15px 0px 15px;
			width: 450px;
		}

		@media screen and (min-width: 768px){
			width: 355px;
		}
		@media screen and (min-width: 1200px){
			width: 270px;	
		}
	}
}